.reg-textfield-container{
    width: 100%;
    display: flex;
    gap: 2rem;
    
}
.btn-container{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.textfield-content{
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    gap: 1.5rem  !important;
}
.FormControlLabel{
    margin-top: -20px;
}

@media (max-width:750px){
    .reg-textfield-container{
        flex-direction: column;
    }
    .btn-container{
        align-items: center;
    }
    .form-control{
        gap: 2px;
    }
    .FormControlLabel{
        margin-right: 0%;
    }
    .form-label{
        display: flex;
        flex-direction: row;
    }
    .signup-btn{
        margin-right: 0%;
    }
    .radio-grp{
        width: 100%;
    }
    .form-control-label{
      margin: 0%;
    }

}