.sidebar {
  width: 250px;
  height: 100%;
  background-color: #042f2e ;
  color: #fff;
  position: fixed;
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out; 
}

.sidebar.closed {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out; 
}
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.sub-items {
  padding-left: 20px;
  margin-top: 5px;
  overflow: hidden;
  background-color: #059669;
}

.sub-items a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;

  &:hover {
    color: #2ee349;
  }
  &.selected {
    color: #2ee349;
  }
}

.sub-item-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.sub-item-name {
  flex: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.menu-item:hover {
  color: #2ee349;
}

.menu-item.selected {
  background-color: #059669  ;
  color: #fff;
}

.menu-item svg {
  margin-right: 10px;
  font-size: 20px;
  color: inherit;
}
